html,
body.sb-main-padded.sb-show-main,
#storybook-root
{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
body.sb-main-padded.sb-show-main
{
    background-color: #f9f3eb;
    padding: 8px;
}